@import "./reset.scss";

$background: #dde2d2;
$blue: #04a1c8;
$red: #d03022;
$mix: #583634;

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.poster {
  box-sizing: border-box;
  width: 35%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 2.2fr 1fr 2fr 1fr 2.2fr 1fr;
  background-color: $background;
  padding: 20px;
  .top-text,
  h1,
  .bottom-text {
    padding: 20px;
    font-weight: 600;
  }
  .top-text,
  .bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
  }
  .center-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h1 {
      font-size: 60px;
      font-weight: 600;
    }
  }
  .bottom-text {
    justify-content: space-between;
  }

  //   .bottom-text {
  //     display: flex;
  //     flex-direction: column;
  //   }
}

// grid span
.top-left,
.top-right,
.bottom-left,
.bottom-right {
  grid-row: span 2;
}
.center-left,
.center-right {
  grid-row: span 3;
}

// background-color
.top-left,
.top-right,
.top-top,
.center-bottom {
  background-color: $blue;
}
.center-top,
.bottom-left,
.bottom-right,
.bottom-bottom {
  background-color: $red;
}
.center-left,
.center-right {
  background-color: $mix;
}
