@import "./reset.scss";

$white: #dee2d7;
$green: #5fbd43;

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.poster {
  width: 35%;
  height: 100vh;
  display: grid;
  grid-template-rows: 35fr 65fr;
  .top {
    background-color: $green;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 70fr 30fr;
    padding: 20px;
    gap: 30px;
    .top__box {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 6px;
      font-size: 18px;
      font-weight: 600;
      h1 {
        font-size: 130px;
      }
      &:last-child {
        color: white;
        font-size: 22px;
        align-self: center;
      }
    }
  }
  .bottom {
    overflow: hidden;
    .circles {
      transform: scale(1.1);
      background-color: black;
      display: grid;
      height: 100%;
      grid-template: repeat(11, 1fr) / repeat(11, 1fr);
      gap: 8px;
    }
    .circle {
      background-color: $green;
      border-radius: 50%;
      &:nth-child(2n) {
        background-color: $white;
      }
    }
  }
}
